* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Italianno', sans-serif;
  padding: 30px 0 0 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav div.logo {
  width: 70px;
  height: 70px;
}

header nav div.logo img {
  width: 100%;
  height: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 60%;
  list-style: none;
  font-size: 30px;
  margin-top: 20px;
}

header nav ul li {
  cursor: pointer;
  font-weight: 400;
}

header nav ul li a {
  color: #000;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3.9rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 2px 3px #000;
}

footer.footer div.logo {
  width: 80px;
  height: 80px;
}

footer.footer div.logo img {
  width: 100%;
  height: 100%;
}

.copyright-names {
  margin-top: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.image-placeholder {
  width: 30.25rem;
  height: 30.25rem;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.closing-icon {
  content: "\f00d";
  font-size: 2.0rem;
  margin-top: 1rem;
  color: #676767;
  transition: 0.3s;
}

.closing-icon:hover {
  color: #000;
}

.seafood-name {
  text-align: center;
  font-family: 'Italianno', sans-serif;
  font-size: 3.5rem;
  margin-top: 1.5rem;
  color: #676767;
}

.details-div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 10.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

.details-1, .details-2 {
  display: flex;
  flex-direction: column;
}

.comments-header {
  text-align: center;
  margin-top: 2.5rem;
  font-family: 'Italianno', sans-serif;
  font-size: 2.5rem;
}

.comment-container {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.comment-container p {
  padding: 0 1rem 1.5rem 1rem;
}

.comments-form {
  margin-top: 2.5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1rem;
}

.comments-form h2 {
  font-family: 'Italianno', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

input, textarea {
  margin-bottom: 0.5rem;
  border: 3px solid #000;
  border-radius: 5px;
}

#name,
#comments {
  font-size: 0.95rem;
  padding: 0.7rem;
  color: #000;
}

#name::placeholder,
#comments::placeholder {
  color: #000;
  font-weight: bolder;
  font-size: 1rem;
}

.comment-btn {
  padding: 0.5rem 0.55rem;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px 3px #000;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: start;
}

.popup-display {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  overflow-y: auto;
  opacity: 0.95;
}

@media screen and (max-width: 576px) {
  header nav {
    justify-content: space-evenly;
  }

  header nav ul {
    width: 80%;
  }

  footer {
    gap: 2.9rem;
  }

  .image-container {
    gap: 0;
  }
  
  .image-placeholder {
    width: 20.25rem;
    height: 20.25rem;
  }

  .seafood-name {
    margin-top: 1rem;
  }

  .details-div {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  textarea {
    width: 20em;
  }
}
